{% extends "herehaspolice/base.html" %}
{% load bootstrap3 %}


{% block content %}
<div class="pageTitle">
    <div class="container">
    <h2>關於本站</h2>
    </div>
    </div>
    
     <div class="container">
     <div class="bodyInner">
        <p>
        2016年5月31日傍晚,大雨穿透墨綠色雨衣,一心趕著回家的我,
        在平常都會牽車地方推過得斑馬線,直接穿越迴轉
        </p>
        
        <p>
        只見警察盃盃笑吟吟的揮舞著指揮棒要我靠邊停車,<br>
        『行照駕照貼粗來～』<br>
        『知不知道為什麼抓你阿～』<br>
        心中只有幹字無限迴圈,只能佩服員警擬態技術之高超,為月底的荷包再次受到凌遲落下幾滴眼淚<br>
        </p>
        
        <p>
        回家後深切反省,決定要貢獻所學,讓大家不再為荷包流淚（ㄅㄟˋ ㄎㄞ ㄉㄢ）<br>
        因此簡單的做了這個平台,希望大家想要心存僥倖前可以上來看看.<br>
        或者是被親切的警察盃盃埋伏到時,除了幹字無限Loop之外可以上來打個卡,避免下個心存僥倖（ㄅㄟˋ ㄎㄞ ㄉㄢ）的人出現
        </p>
        
        <p>
          ※本網站用途為勸人向善,遵守交通規則.<br>
          絕對不是要人躲避警察盃盃的查緝喔,啾咪^.<
        </p>
        
        <p>
        
        </p>
    </div>
    </div>


{% endblock content %}