<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="themes/assets/ico/favicon.ico">
    <title>Bootstrappage.com free templates</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "herehaspolice/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="themes/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href={% static "herehaspolice/css/carousel.css" %} rel="stylesheet">
    <style>
    #googleMap {
        height: 633px;
    }
    </style>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'views.home' %}">這裡有警察</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% url 'views.home' as home %}
                {% url 'views.error_report' as error %}
                {% url 'views.about' as about %}
                <li {% if request.path == home %} class="active"{% endif %}><a href="{{home}}">定位警察</a></li>
                <li {% if request.path == error %} class="active"{% endif %}><a href="{{error}}">錯誤回報</a></li>
                <li {% if request.path == about %} class="active"{% endif %}><a href="{{about}}">關於本站</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="mainCarousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
            <script type="text/javascript"
                src="{% static "herehaspolice/js/utility.js" %}">
            </script>
            <script type="text/javascript"
                src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBNK_a0zq0xJyFjwih1qv9gBFbrFJO_hpw">
            </script>
            <script type="text/javascript" >
                var locs_list = "{{locs_json}}";
                var cleaned_locs = JSON.parse(locs_list.replace(/&quot;/g, "\""));
            </script>
          
    <script>
        $(document).ready(function(){
            fullViewPort(this)
            
            var std = whichBrowser()
            initMap(std);
            
            //get geolocation
            
            $("#form").submit(function(eventObj){
                if (typeof lat === 'string' || lat instanceof String || std=="C"){
                    alert("Chrome不讓我們讀取您的位置,所以您無法告訴大家警察在哪裡喔....\n換其他瀏覽器（如：FireFox）的話就可以使用本服務囉")
                    return false
                }else{
                    $('<input />').attr('type', 'hidden')
                      .attr('name', "lat")
                      .attr('value', lat)
                      .appendTo('#form');
    
                    $('<input />').attr('type', 'hidden')
                      .attr('name', "lon")
                      .attr('value', long)
                      .appendTo('#form');
                      
                    $('<input />').attr('type', 'hidden')
                      .attr('name', "text")
                      .attr('value', text)
                      .appendTo('#form');
    
                    return true;
                }
            });
            
        });
    </script>
    
    
    <script>
        var lat;
        var long;
        var text;
        var map;
        
        function setMarkers(map,locations, std){
            var marker, i
            for (i = 0; i < locations.length; i++){
                var tlat = locations[i][0]
                var tlong = locations[i][1]
                
                var dt =  locations[i][2].split(":")
                latlngset = new google.maps.LatLng(tlat, tlong);
                
                var marker = new google.maps.Marker({
                    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                    map: map, 
                    title: "test" , 
                    position: latlngset
                });
                map.setCenter(marker.getPosition())

                var content = parseInt(dt[0]) + "小時" + parseInt(dt[1]) + "分鐘前有警察！"

                var infowindow = new google.maps.InfoWindow()

                google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                    return function() {
                        infowindow.setContent(content);
                        infowindow.open(map,marker);
                    };
                })(marker,content,infowindow)); 
            }
            
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                alert('使用本服務前需要打開GPS,\n且要同意分享當前位置的資訊喔')
                navigator.geolocation.getCurrentPosition(function(position) {
                  lat = position.coords.latitude;
                  long = position.coords.longitude;
                  
                  var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                  
                  var marker = new google.maps.Marker({
                      position: coords,
                      map: map,
                      title: 'Hello World!',
                      animation:google.maps.Animation.BOUNCE
                  });
                  map.setCenter(marker.getPosition())
                });
            } else {
                alert('您現在使用的瀏覽器無法使用本服務')
            }
            
        }
        
        function initMap(std) {
            var myOptions = {
                center: new google.maps.LatLng(35.743580, 139.730338),// no effect
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
            setMarkers(map, cleaned_locs, std)
        }
        
    </script>
            <div id="googleMap"></div>
              <div class="container">
                <div class="carousel-caption">
                
                <form role="form" method="post" id="form">
                    {% csrf_token %}
                    <a><input class="btn btn-lg btn-danger" role="button" style="font-size:2em" type="submit" value="這裡有警察！" /></a>
                </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.carousel -->
    </div>
{% endblock content %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static "herehaspolice/js/holder.js" %}"></script>
  </body>
</html>